<!-- footer.component.html -->
<footer class="footer bg-dark text-white pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 fw-light">Srikar Chanamolu</h5>
        <p class="fw-light">Experienced Software Engineer with over 4 years of experience, adept at creating Full-Stack applications and specializing in Database and Server Management. Possesses strong debugging skills and an excellent ability to comprehend code while working in a team-based environment.</p>
      </div>
      <div class="col-md-4 mb-4 mb-md-0 d-flex flex-column align-items-center">
        <h5 class="text-uppercase mb-4 fw-light">Quick Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#about" class="text-white fw-light" style="text-decoration: none;">About Me</a>
          </li>
          <li>
            <a href="#projects" class="text-white fw-light" style="text-decoration: none;">Projects</a>
          </li>
          <li>
            <a href="#contact" class="text-white fw-light" style="text-decoration: none;">Contact</a>
          </li>
          <li>
            <a href="assets/resume.pdf" class="text-white fw-light" style="text-decoration: none;" target="_blank">Resume</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 d-flex flex-column align-items-center">
        <h5 class="text-uppercase mb-4 fw-light">Connect with me </h5>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a href="https://github.com/srikarch123" class="btn btn-outline-light btn-floating m-1" style="font-size: 23px;" target="_blank"><i class="fab fa-github"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/srikarch/" class="btn btn-outline-light btn-floating m-1" style="font-size: 23px;" target="_blank"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0 fw-light">© 2024 Srikar Chanamolu. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <p class="mb-0 fw-light">Designed Using Angular 17 <i class="fab fa-angular" style="color: #dd1b16;"></i></p>
      </div>
    </div>
  </div>
</footer>
