<div class="container text-center animate__animated animate__fadeIn" id="about">
  <h2>About Me</h2>
  <p class="h4 mb-5 fw-light">Multi-talented Full Stack Engineer with over 4 years of experience in software development. Proficient in Java/J2EE, Angular 17, Python, and Big Data. Specializes in database and server management, with strong debugging skills and the ability to comprehend code effectively in team environments. Extensive experience in SDLC and Agile methodologies. Proven track record in developing full-stack applications and automating operations for increased efficiency. </p>
</div>
