<app-header></app-header>

<div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
  <section id="home" class="mb-5 pb-3 border-bottom">
    <app-home></app-home>
  </section>
  <section id="about" class="mb-5 pb-3 border-bottom">
    <app-about></app-about>
  </section>
  <section id="skills" class="mb-5 pb-3 border-bottom">
    <app-skills></app-skills>
  </section>
  <section id="work-experience" class="mb-5 pb-3 border-bottom">
    <app-work-experience></app-work-experience>
  </section>
  <section id="projects" class="mb-5 pb-3 border-bottom">
    <app-projects></app-projects>
  </section>
</div>

<app-footer></app-footer>
